@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
/*.main{
    min-height: 100vh;
    font-size: 5rem;
    padding: 10px;
    display: grid;
    background-color: bisque;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}*/

main{
    min-height: 100vh;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "m m m m"
    "h h h h"
    "s s s s" 
    "f f k k"
    ;
    
}
.menu{
    grid-area: m;
}
.grid-1{
    grid-area: h;
}
.grid-2{
    grid-area: s;
}
.grid-3{
    grid-area: f;
}
.grid-4{
    grid-area: k;
}

main2{
    min-height: 100vh;
    padding: 10px;
    display: grid;
    background-color: bisque;
    grid-gap: 10px;
    grid-template-areas: 
    "m m m m"
    "h h h h"
    "a g g " 
    "f f f f"
    ;
}
.menu{
    grid-area: m;
}
.grid-1{
    grid-area: h;
}
.articulo{
    grid-area: a;
}
.aside{
    grid-area: g;

}
.footer{
    grid-area: f;
}